body {
    background-image: url('https://www.patriciabannan.com/uploads/2019/04/pot.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    height: 200px;
}
embed{
    height: 600px;
}